*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  margin: auto;
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  width: 1140px;
  display: flex;
  gap: 24px;
  align-items: end;
  object-fit: contain;
}

.result {
  width: 100%;
  height: 100%;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 18px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  gap: 39px;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 1px;
  width: fit-content;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label-text {
  margin-left: 5px;
  cursor: pointer;
}

input[type="text"] {
  width: 225px;
  padding-bottom: 2px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  border-left: none;
  border-right: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 0;
  color: #fff;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: (255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px 1px 1px 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label-text::after:hover {
  border-bottom: 1px solid #fff;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  padding-top: 2px;
  padding-left: 5.5px;
  margin-bottom: 22px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  padding-left: 0;
  color: #545050;
}

.content__list-container {
  height: 298px;
  position: relative;
  overflow-y: auto;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container::-webkit-scrollbar {
  width: 3px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.content__list-item {
  padding-left: 5px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  width: 196px;
  margin-bottom: 5px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-height: 16.2px;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.button {
  border: 1px solid currentColor;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  padding: 6px 73.5px;
  width: 194px;
  height: 34px;
  align-self: end;
}

.more-button {
  width: 100%;
  padding: 6px 142px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
